body {
    max-width: 50rem;
    margin: auto;
}

h1{border: 2px solid green;
}
 .border1{
    border: 4px solid red;
    padding: 0.7rem 2rem;
    margin-bottom:2rem;
    color: red;
}
.border2 {
    border: 4px dashed blue;
    color:blue;
    padding: 1rem 1.5rem;
}

li {
    border: 3px dashed green;
    padding: 1rem;
    margin: 1rem;
}
.inline li {
    display: inline;
    border: 2px dashed blue;
    color: red;
}
.inlineBlock li {
    display: inline-block;
    border: 2px dashed red;
}
/*ul {
    display: none;
} */

.dalkur {
    width: 50%;
    float: left;
    border: 2px solid black;
    padding: 1em;
    box-sizing: border-box;
}
.verkefni23{
    border: 4px solid lightgray;
    background-color: lightgray;
    text-align: right;
}
.whiteborder{
    border: 1px solid white;
}
.clear {
    clear: both;
    border: 2px solid black;
    padding: 1em;
    box-sizing: border-box;
    margin: 0 0 2rem;
}
.bigL {
    font-size: 4rem;
    font: left;
    padding: right;
}
.flright {
    float: right;
    width: 180px;
    padding: 0 0 1rem .5rem;
    margin-top: -1rem;
}
/* top+right+bottom+left */
.yellow {
    text-align: center;
    background-color: yellow;
}