body{
    max-width: 1280px;
    margin: 0 auto;
    border: red 1px solid;
    padding-left: 10px;
    padding-right: 10px;

}
h1{
    color: green
}
h2{color:blue;}
.first-par{color:brown}
b{
    color:brown
}
em{
    color:blue
}
a:link{color:#F00}
a:visited{color:#0F0}
a:hover{color:#00F}
a:active{color:#F0F}